@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bubblegum sans;
    
}
.column{
    background-color: palevioletred;
    height: 100vh;
    width: auto;
    position:relative;
    max-width: 355px;
}
.card-userinfo{
    height: 15ch;
    width: 250px;
    position: relative;
    left: 16%;
    top: 19%;
    background-color: white;
    justify-content: center;
    border: 10px;
    border-radius: 10px;
    
}
.game-level{
    height: 11ch;
    width: 250px;
    
    position: relative;
    left: 17%;
    top: 28%;
    background-color: white;
    justify-content: center;
    border: 10px;
    border-radius: 10px;  
}
.wrapper{
        width: 100%;
        height: 100%;
    }
   
.nav {
  position: fixed;
  top: 0%;
  right: 0;
  display: flex;
  height: 106px;
  width: 77%;
  background-color: aqua;
  z-index: 1000; /* Adjust the value as needed */
  padding-top: 5;

}
   
 .memorise{
        font-size: 55px;
        display: flex;
        margin-left: 90px;
        margin-top: 20px;
        color: blueviolet;
        color: rgb(218, 76, 123);
    } 
    
    .score{
        padding-left: 500px;
         position: relative;
         top:7%;
        font-size: 50px;
        margin-top: 20px;
        color: rgb(218, 76, 123);
    }

  .main{
    position: fixed;
        right: 0;
        top: 12%;
    height: 100vh;
    width: 77%;
    background-image: url(assets/background/game2.jpg);
    background-size: cover;
    padding: 20px;

  }
  .navy {
    background-color: rgb(108, 108, 179);
    color: white;
    padding: 20px;
    height: 100px; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
    box-sizing: border-box; /* Include padding in total height/width */
  }
  
   .main {
    display:grid ;
    flex-wrap: wrap;
    justify-content: space-around;
   }
 
.content-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.thecard {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid skyblue;
  border-radius: 5px;
  background: transparent;

  text-align: center;
  padding: 30px 30px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1%;
  bottom: 20%;
}

.theback {
  transform: rotateY(180deg);
  width: 90px;
}

/* Style for the image inside the card */
.thefront img {
  max-width: 100%;
  height: 100%;
  width: 90px;
}
.memo{
position: relative;
top: 5%;
left: 14%;
font-size:20px;
}
.Player-Name{
  font-size: 20px;
  margin-left:10px;

}

.card-userinfo h1{
  margin-left: 100px;
  padding-top: 10px;
}
.doggy{
    height: 115px;
    width: 114px;
    padding: 3px;

}
.trophy{
    height: 90px;
    border-radius: 20px;
    margin-bottom: 10px;
    gap: 2%;
    margin-left: 10px;
    
}
.btn-square-md {
    width: 56px !important;
    max-width: 80% !important;
    max-height: 60% !important;
    height:56px !important;
    text-align: center;
    padding: 10px;
    font-size:20px;
    color: #dcc6c6;
   background-color: rgb(69, 148, 32);
   border-radius: 9px;
   margin-left: 30px;
   margin-right: 6px;
   border: 4px solid green;
   position: relative;
   
    }
    .btn-square-md1 {
        width: 56px !important;
        max-width: 80% !important;
        max-height: 60% !important;
        height: 56px !important;
        text-align: center;
        padding: 0px;
        font-size:20px;
        color: #000;
       background-color: rgb(255, 221, 0);
       border-radius:9px;
       border:  4px solid rgb(184, 184, 45);
        }
    .btn-square-md2 {
            width: 56px !important;
            max-width: 80% !important;
            max-height: 60% !important;
            height: 56px !important;
          text-align: center;
            padding: 0px;
            font-size:20px;
            color: #000;
           background-color: red;
           border-radius: 9px;
           border: 4px solid rgb(194, 76, 76);
           margin-left: 8px;
           margin-top: 20px;
            }
            .where{
              font-size: 50px;
              justify-content: center;
              margin-left: 70px;
            }
   .question{
    height: 60px;
    width: 60px;
    margin: 1px;
   }  
   .sound{
    height: 60px;
    width: 60px;
    margin: 1px;
   }  
   .refresh{
    height: 60px;
    width: 60px;
    margin: 1px;
   } 
   .icons{
    position: fixed;
    bottom: 15%;
     margin-left:100px;
   }    

  
            
              








  
  
  
 

  
  




      



    



  
  
