@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bubblegum sans;
    
}
.column{
    background-color: palevioletred;
    height: 100vh;
    width: 500px;
    position: absolute;
    overflow-x: hidden;
    

}
.card-userinfo{
    height: 25ch;
    width: 320px;
    
    position: relative;
    left: 17%;
    top: 5%;
    background-color: white;
    justify-content: center;
    border: 10px;
    border-radius: 10px;
    
}
.game-level{
    height: 21ch;
    width: 320px;
    
    position: relative;
    left: 17%;
    top: 9%;
    background-color: white;
    justify-content: center;
    border: 10px;
    border-radius: 10px;  
}
.btn-square-md {
    width: 80px !important;
    max-width: 80% !important;
    max-height: 80% !important;
    height: 80px !important;
    text-align: center;
    padding: 0px;
    font-size:20px;
    position: relative;
    border-radius: 7px;
    top: 4%;
    left: 10%;
    border: 2px solid grey;
    cursor: pointer;
    
    }
    #green{
     color: #000;
     background-color: rgb(58, 173, 58);
    }
    #yelllow{
        color: #000;
     background-color: rgb(221, 217, 19);
    }
    #red{
        color: #000;
     background-color:rgb(255, 0, 0)
    }
    
    .icons{
    height: 80px;
    width: 320px;
    position: relative;
    left: 17%;
    top: 14%;
    background-color: transparent;
    justify-content: center;
    border: 10px;
    border-radius: 10px;  
    display: flex;
    padding: 20px;
    }
    .icons i {
        margin-right: 10px; /* Adjust the margin-right value to set the desired spacing */
      }
      .row{
       width: 100%;
       margin-left: 200px;
    
      }
      



    



  
  
